<div layout="row">
  <img ng-src="img/angular.jpeg" class="pr-img" alt="" layout="column" ng-click="next()">
  <div layout="column"  layout-align="top center">
    <p ng-hide="ready < $index" ng-repeat="characteristic in characteristics" >
      <i class="fa fa-check" aria-hidden="true"></i> {{characteristic}}
    </p>
    <md-button class="md-fab md" style="background-color:rgb(244,67,54);" ng-show="ready > characteristics.length - 1" href="#/modelo">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </md-button>
  </div>
</div>
