<div> <!-- ng-controller !-->
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <md-input-container>
          <label>Nombre</label>
          <input type="text" placeholder="Juanito" ng-model="contacto.nombre"> <!-- ng-model !-->
        </md-input-container>
        <md-input-container>
          <label>Telefono</label>
          <input type="text" placeholder="324134123" ng-model="contacto.telefono"> <!-- ng-model !-->
        </md-input-container>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ng-click="agregarALista()">Añadir Registro</md-button> <!-- ng-click !-->
    </md-card-actions>
  </md-card>
  <h1>Lista de Contactos</h1>
  <md-list ng-cloak>
    <div ng-repeat="a in lista">
    <md-list-item > <!-- ng-repeat !-->
      <p>Nombre: {{a.nombre}}</p> <!-- call from $scope !-->
      <p>Telefono: {{a.telefono}}</p> <!-- call from $scope !-->
    </md-list-item>
    <md-divider></md-divider>
  </div>
  </md-list>
</div>
