<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
    <style>
      a:link {color: black;}      /* unvisited link */
      a:visited {color: black;}   /* visited link */
      a:hover {color: black;}     /* mouse over link */
      a:active {color: black;}
    </style>
</head>
    <body ng-app="Presentacion">
      <section layout="row" flex>

      <md-sidenav
          class="md-sidenav-left"
          style="position:absolute"
          md-component-id="left"
          md-is-locked-open="true"
          md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Angular JS</h1>
        </md-toolbar>
        <md-content ng-controller="LeftCtrl" hide show-gt-md>
          <md-list ng-controller="ListCtrl" ng-cloak>
            <md-list-item ng-click="goRoute('/')" >
              <a>Angular</a>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="goRoute('/modelo')">
              <p>Modelo</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="goRoute('/controlador')">
              <p>Controlador</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="goRoute('/vista')">
              <p>Vista</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="goRoute('/ejemplo')">
              <p>Ejemplo</p>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>
        </md-content>
      </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-align="top center" ng-view>
     </div>
     <div flex></div>
    </md-content>
  </section>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
